<div class="row" style= "margin-left:10px; margin-right: 15px;">
  <% @saved.all.each do |saved| %>
    <div class="col-sm-6 mb-2" style="width:50%; margin-top:20px; margin-left:-5px">
			<div>
        <img class="card-img-top"  style="height: 150px;" src="<%= saved.image_url %>" alt="Card image cap">
        <div class="card-body text-center">
          <h5 class="card-title"><%= saved.name %></h5>
          <p class="card-text">$<%= saved.price %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>